name: CI

on:
  push:
    branches: main
  pull_request:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install stable toolchain (clippy)
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
          components: clippy

      - name: Install nightly toolchain (fmt)
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: nightly
          components: rustfmt

      - name: Cache cargo
        uses: Swatinem/rust-cache@v2

      - name: Format
        run: cargo +nightly fmt --all -- --check

      - name: Clippy
        run: cargo +stable clippy --workspace --all-targets --all-features -- -D warnings

      - name: Test
        run: cargo +stable test --workspace --all-features -- --nocapture
